.homecol1 {
	width: 50%;
}
.homecol2 {
	width: 20px;
}

.maintoptext {
	font-family: Helvetica;
	font-weight: 300;
	font-size: 24px;
	color: #454545;
	width: 50%;
	line-height: 35px;
	vertical-align: top;
}

.midline {
	font-size: 15px;
	font-weight: bold;
	color: #ECA239;
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
	padding-bottom: 10px;
}

.btnspacer {
	width: 20px;
}

.stcocol {
	vertical-align: top;
	color: #454545;
	text-align: center;
}

/*li {
	margin-top: 1em;
	line-height: 1.2em;
}

ul {
	margin-left: -26px;
}*/	

#beneblock {
	width: 285px;
	text-align: left;
	margin-left: 32px;
}
div#beneblock ul {
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}
div#beneblock li {
	list-style-type: none;
	display: table;
	padding-top: 5px;
}

.benefits {
	font-weight: bold;
}

div#socialblock {
	width: 100%;
	margin-top: 25px;
}
div#socialblock ul {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
	font-size: 15px;
	color: #ECA239;
	white-space: nowrap;
	text-align: center;
	font-style: oblique;
	font-weight: bold;
}
div#socialblock li {
	list-style-type: none;
	display: inline-table;
}
div#socialblock li a {
	text-decoration: none;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 15px;
	padding-left: 15px;
	color: #FFFFFF;
}
div#socialblock li a:link {
    color: #FFFFFF;
}
div#socialblock li a:visited {
    color: #FFFFFF;
}
div#socialblock li a:hover {
    color: #FFFFFF;
}